<h1>New<h1>


<%= form_for :driver, url: drivers_path do |f| %>


<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :lastname %><br>
<%= f.text_field :lastname %>
</p>

<p>
<%= f.label :brithday %><br>
<%= f.date_field :brithday %>
</p>
<p>
<%= f.label :nationality %><br>
<%= f.text_field :nationality %>
</p>
<p>
<%= f.label :id_card_driver %><br>
<%= f.text_field :id_card_driver %>
</p>
<p>
<%= f.label :password %><br>
  <%= f.password_field :password, class: 'form-control' %>

</p>
<p>
<%= f.label :password_confirmation %><br>
<%= f.password_field :password_confirmation %>
</p>
<p>
<%= f.submit %>
</p>
<%end%>

 